
.hero-title{
    font-size: 24px;
    line-height: 24px;
}

*{
    box-sizing: border-box;
}
:root{
    --our-balck:#181820;
    --our-grey:#afafb3d0;
--our-white:#fefeff;

}
.main {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 100px;
}
.img{
    filter: Alpha(opacity=20);
    /* opacity: 0.4; */
    width: 100vw;
    height: 100vh;
    background-image: url(./Screenshot\ 2022-07-19\ 233321.png);
    /* background-repeat: no-repeat; */
}
.container{
    /* background-color:#F5F5F5;
    width: 1730px;
    height: 50px; */
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: #b8b8bb;
    width: 100vw;
}
ul{
    list-style: none;
}
.nav-link{
    display: flex;
    justify-content: space-evenly;
    color: #175919;
    width: 30%;
    padding:  0px 90px;
    /* margin-left: 10px;
    color:  #175919;
    font-style: normal;
    font-size: medium; */
gap: 8px;
}

.logo{
    color:#175919;
    padding:  0px 50px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.box{
    display: flex;
    gap:8px;
    border: #3a3a3d solid;
    border-radius:16px;
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
  
}
.add-course{
    /* display: flex;
    gap:8px;
    border: #3a3a3d solid;
    border-radius:16px;
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer; */
    border: rgba(39, 40, 51, 0.6) 2px solid;
} 
.add-course:hover{
    background-color: var(--our-grey);
}
.pink-box{
    background-color: #fc76a1;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: var(--our-balck);

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 30;
  color: #fc76a1;


}
.check-box{
    border: #fc76a1 2px solid;
    /* background-color: #fc76a1; */
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: px ;
    color: var(--our-balck);

}

.course{
background-color: var(--our-grey) ;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.all-course{
    gap: 10px;
}
.course:hover{
    transform: rotateY(-10deg);
}
/* .checked{
    background-color: #fc76a1;
} */
/* .material-symbols-outlined{
    color: #fc76a1;
} */
.add-course.checked >.checked {
    background-color: #fc76a1;
}
.add-course.checked >.checked > .icon{
    display: block;
    visibility: visible;
}